<header class="header v-align">
    <div class="container">
        <div class="row">
            <div class="col-xxl-2">
                <div class="header__logo d-flex">
                    <a href="#"><img src="assets/images/logo/supabase-logo-wordmark--dark.svg" alt="Logo"/></a>
                </div>
            </div>
            <div class="col-xxl-6 d-flex">
                <nav class="nav__links v-align">
                    <div class="nav__container">
                        <a class="nav__link" href="#">Product</a>
                        <div class="nav__dropdown">
                            <div class="row">
                                <div class="col-xxl-8">
                                    <div class="row">
                                        <div class="col-xxl-6">
                                            Left side
                                        </div>
                                        <div class="col-xxl-6">
                                            Right side
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4"></div>
                            </div>
                        </div>
                    </div>
                    <a class="nav__link" href="#">Developers</a>
                    <a class="nav__link" href="#">Enterprise</a>
                    <a class="nav__link" href="#">Pricing</a>
                    <a class="nav__link" href="#">Docs</a>
                    <a class="nav__link" href="#">Blog</a>
                </nav>
            </div>
            <div class="col-xxl-4 d-flex flex-end">
                <div class="action__btns v-align">
                    <a class="action__btn" href="#">Github</a>
                    <a class="action__btn" href="#">Sign in</a>
                    <a class="action__btn" href="#">Start your project</a>
                </div>
            </div>
        </div>
    </div>
</header>
