<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xxl-2">
                <div class="header__logo">
                    <a href="#"><img src="assets/images/logo/supabase-logo-wordmark--dark.svg" alt="Logo"/></a>
                </div>
            </div>
            <div class="col-xxl-6">
                <nav class="nav__links">
                    <div class="nav__container">
                        <a class="nav__link" href="#">Product</a>
                        <div class="nav__dropdown">
                            <div class="row">
                                <div class="col-xxl-8">
                                    <div class="row">
                                        <div class="col-xxl-6">
            
                                        </div>
                                        <div class="col-xxl-6">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4"></div>
                            </div>
                        </div>
                    </div>
                    <a class="nav__link" href="#">Developers</a>
                    <a class="nav__link" href="#">Enterprise</a>
                    <a class="nav__link" href="#">Pricing</a>
                    <a class="nav__link" href="#">Docs</a>
                    <a class="nav__link" href="#">Blog</a>
                </nav>
            </div>
            <div class="col-xxl-4">
                <div class="action__btns">
                    <a href="#">Sign in</a>
                    <a href="#">Start your project</a>
                </div>
            </div>
        </div>
    </div>
</header>
