.header {
    background-color: black;
    height: 6.4rem;

    & .header__logo > a {
        display: inline-flex;
        height: 2.5rem;

        & > img {
            width: 100%;
            height: auto;
        }
    }

    & .nav__links {
        position: relative;

        & > .nav__dropdown {
            position: absolute;
            top: 5rem;
            left: -2rem;
            white-space: nowrap;
            width: 75rem;
            border: 1px solid #aaa;
            padding: 2rem;
            border-radius: 2rem;
        }
    }
}