<header class="header v-align">
    <div class="container">
        <div class="row">
            <div class="col-xxl-2">
                <div class="header__logo d-flex">
                    <a href="#"><img src="assets/images/logo/supabase-logo-wordmark--dark.svg" alt="Logo"/></a>
                </div>
            </div>
            <div class="col-xxl-6 d-flex">
                <nav class="nav__links v-align">
                    <a class="nav__link" href="#">Product</a>
                    <a class="nav__link" href="#">Developers</a>
                    <a class="nav__link" href="#">Enterprise</a>
                    <a class="nav__link" href="#">Pricing</a>
                    <a class="nav__link" href="#">Docs</a>
                    <a class="nav__link" href="#">Blog</a>
                    <div class="nav__dropdown">
                        <div class="row">
                            <div class="col-xxl-8">
                                <div class="row">
                                    <div class="col-xxl-6">
                                        <div class="feature">
                                            <a href="#">
                                                <h4 class="feature__title">Database</h4>
                                                <p class="feature__description">Fully portable Postgres database</p>
                                            </a>
                                        </div>

                                        <div class="feature">
                                            <a href="#">
                                                <h4 class="feature__title">Authentication</h4>
                                                <p class="feature__description">User Management out of the box</p>
                                            </a>                                       
                                        </div>

                                        <div class="feature">
                                            <a href="#">
                                                <h4 class="feature__title">Storage</h4>
                                                <p class="feature__description">Serverless storage for any media</p>
                                            </a>
                                        </div>

                                        <div class="feature">
                                            <a href="#">
                                                <h4 class="feature__title">Edge Functions</h4>
                                                <p class="feature__description">Deploy code globally on the edge</p>
                                            </a>
                                        </div>

                                        <div class="feature">
                                            <a href="#">
                                                <h4 class="feature__title">Realtime</h4>
                                                <p class="feature__description">Synchronize and broadcast events</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6">
                                        Right side
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-xxl-4 d-flex flex-end">
                <div class="action__btns v-align">
                    <a class="action__btn" href="#">Github</a>
                    <a class="action__btn" href="#">Sign in</a>
                    <a class="action__btn" href="#">Start your project</a>
                </div>
            </div>
        </div>
    </div>
</header>
